{% extends 'layout.twig' %}

{% block body %}


    <div class="block-article">
    
        <div class="contenaire">
            
            <div class="texte-article">
                <div class="title-article"><h2>{{ article.title }}</h2></div>
                <div class="date-article">{{ article.publishedAt | date ('d/m/Y')}}01/03/2022</div>
                <div class="introduction-article">{{ article.introduction }}</div>
                <div>{{ article.content }}</div>
            </div>  
            <div class="image-article"><img src="{{article.image}}" alt="{{article.title}}"></div>
              
        </div>
         
    </div>
   

    
{% endblock %}